.item {
  outline: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.img {
  width: 400px;
  height: 500px;
}

.title {
  font-size: 24px;
  color: blue;
  margin-bottom: 10px;
}

.caption {
  font-size: 20px;
  color: blueviolet;
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}

.time {
  color: red;
  margin-bottom: 10px;
}

.desk {
  font-size: 14px;
  color: gray;
  margin-bottom: 14px;
}

.description {
  font-size: 14px;
  color: chartreuse;
  font-style: italic;
}


.online {
  color: green;
}

.ofline {
  color: red;
}