.btn{
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: white;
}

.success{
    background-color: green;
}

.error{
    background-color: red;
}

.info{
    background-color: yellow;
    color: black;
}